.data{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
}
.card {
    border: 1px solid #ccc;
    text-align: center;
    margin: auto;
    margin-top: 30px;
  }
  .catalog{

    display: grid;
    grid-template-columns: repeat(3,200px);
    gap: 10px;
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    gap: 13px;
    margin: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border: solid;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    margin-bottom: 10px;
    margin-top: -2px;
    height: 200px;
}

.product-card p {
    margin: 0;
}
